In [325]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score,mean_absolute_error

In [287]:
data = pd.read_csv(r"D:\Datasets\car-sales-data.csv")
data

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [288]:
data.isnull().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [289]:
si = SimpleImputer(strategy='most_frequent')
a=['Make','Colour','Doors']
data[a] = si.fit_transform(data[a])
data[a]

       Make Colour Doors
0     Honda  White   4.0
1       BMW   Blue   5.0
2     Honda  White   4.0
3    Toyota  White   4.0
4    Nissan   Blue   3.0
..      ...    ...   ...
995  Toyota  Black   4.0
996  Toyota  White   3.0
997  Nissan   Blue   4.0
998   Honda  White   4.0
999  Toyota   Blue   4.0

[1000 rows x 3 columns]

In [290]:
si = SimpleImputer(strategy='mean')
c=['Price']
data[c]=si.fit_transform(data[c])
data[c]

       Price
0    15323.0
1    19943.0
2    28343.0
3    13434.0
4    14043.0
..       ...
995  32042.0
996   5716.0
997  31570.0
998   4001.0
999  12732.0

[1000 rows x 1 columns]

In [291]:
si = SimpleImputer(strategy='mean')
d=['Odometer (KM)']
data[d] = si.fit_transform(data[d])
data[d]

     Odometer (KM)
0          35431.0
1         192714.0
2          84714.0
3         154365.0
4         181577.0
..             ...
995        35820.0
996       155144.0
997        66604.0
998       215883.0
999       248360.0

[1000 rows x 1 columns]

In [292]:
data.isnull().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [293]:
data['Odometer (KM)'].fillna(value=data['Odometer (KM)'].mean())

0       35431.0
1      192714.0
2       84714.0
3      154365.0
4      181577.0
         ...
995     35820.0
996    155144.0
997     66604.0
998    215883.0
999    248360.0
Name: Odometer (KM), Length: 1000, dtype: float64

In [294]:
data['Odometer (KM)'].isnull().sum()

0

In [295]:
X = data.iloc[:,:-1]
X

       Make Colour  Odometer (KM) Doors
0     Honda  White        35431.0   4.0
1       BMW   Blue       192714.0   5.0
2     Honda  White        84714.0   4.0
3    Toyota  White       154365.0   4.0
4    Nissan   Blue       181577.0   3.0
..      ...    ...            ...   ...
995  Toyota  Black        35820.0   4.0
996  Toyota  White       155144.0   3.0
997  Nissan   Blue        66604.0   4.0
998   Honda  White       215883.0   4.0
999  Toyota   Blue       248360.0   4.0

[1000 rows x 4 columns]

In [296]:
Y = data['Price']
Y

0      15323.0
1      19943.0
2      28343.0
3      13434.0
4      14043.0
        ...
995    32042.0
996     5716.0
997    31570.0
998     4001.0
999    12732.0
Name: Price, Length: 1000, dtype: float64

In [300]:
le = LabelEncoder()
X['Make']=le.fit_transform(X['Make'])
X['Make']

0      1
1      0
2      1
3      3
4      2
      ..
995    3
996    3
997    2
998    1
999    3
Name: Make, Length: 1000, dtype: int32

In [301]:
le = LabelEncoder()
X['Colour']=le.fit_transform(X['Colour'])
X['Colour']

0      4
1      1
2      4
3      4
4      1
      ..
995    0
996    4
997    1
998    4
999    1
Name: Colour, Length: 1000, dtype: int32

In [302]:
le = LabelEncoder()
X['Doors']=le.fit_transform(X['Doors'])
X['Doors']

0      1
1      2
2      1
3      1
4      0
      ..
995    1
996    0
997    1
998    1
999    1
Name: Doors, Length: 1000, dtype: int32

In [328]:
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

In [372]:
model = RandomForestRegressor(random_state=42)
model.fit(X_train,y_train)
y_pred = model.predict(X_test)
y_pred

array([11449.74      , 11811.32444211, 39578.44147368, 22976.11      ,
       31979.06      , 13556.90924211, 12085.84962105, 13525.87545238,
       13695.86      , 20246.74435488, 27095.64      , 20653.1       ,
       30267.63814737, 10398.00888421, 14543.44591579, 19312.89073684,
       11160.04629474, 10780.85      , 25043.32      , 14369.83481404,
       32000.19      , 10848.63073684, 19713.76073684, 11540.77629474,
       25273.16      , 10756.68328571, 11863.60814737, 15666.29      ,
       27208.9       , 19689.87444211, 16814.90332632, 13368.54073684,
       10758.17591579, 19047.29      , 11520.16      ,  9424.85      ,
        9475.46      , 33210.69      , 13686.82145263,  9670.18      ,
       17776.556     , 17836.20183158, 22395.39      , 11751.31073684,
       12280.50814737, 24989.2       , 12837.53368421, 11347.15      ,
       22652.69147368, 18602.74      , 13192.65444211, 10554.26776842,
       13307.74073684, 12264.98629474, 10903.86      , 17583.19814737,
        6885.49      ,  9346.6       ,  9321.81814737, 20187.57814737,
       11145.21125263, 11036.41      , 31604.87444211, 17666.10536291,
       16788.1       , 17512.93258947, 13230.21997895, 30495.68      ,
       14319.43      , 12215.12814737, 12106.96      , 18042.72814737,
       15606.41703158, 17085.95629474, 13984.5       , 14295.27183158,
       21881.47      ,  8991.16      , 13549.63073684, 14605.29888421,
        9694.69      , 11991.81591579,  9724.62      , 29079.06888421,
       20267.90258947, 17625.95      ,  6146.84629474, 13710.89      ,
       26477.01      , 26224.        , 11434.83444211, 23495.88      ,
       10827.37814737, 12003.4848    , 12162.58888421, 23047.10629474,
        9664.98      , 18621.70888421, 25309.62      , 24447.18      ,
       18635.29      , 16129.13866667, 13358.69629474, 24607.53591579,
       17726.22      , 14612.42814737, 13267.51330526, 12017.59      ,
       15059.97814737, 19668.39625263, 18350.75665263, 15537.66      ,
       13173.08629474,  6846.87629474, 11375.69064737, 13134.91850526,
       17702.39147368, 27208.9       , 20378.37925848, 29927.89      ,
       13765.71258947, 13154.39      , 11601.66      , 12198.92589474,
       15261.29258947,  8941.80629474, 20988.04848167, 18918.59      ,
       22060.34      , 18755.42      , 11059.59221053, 17864.3       ,
       18992.20814737, 24753.76258947, 33014.06      , 29032.54      ,
       13771.86332632, 29169.13      , 10345.9       , 17666.10536291,
       12518.28962105, 16382.58      , 12150.76      , 26477.01      ,
       11803.40258947, 17666.10536291,  9258.60814737, 11191.12629474,
        9611.32629474, 11356.33444211, 14074.21589474, 12445.34812632,
       14344.11711905, 13580.46736842,  9419.58      , 18345.81888421,
       12519.06629474, 11956.33701053, 24716.44      , 21014.39      ,
       15170.07      , 15028.0845    , 16913.67      , 19713.76073684,
        9043.42      , 15028.0845    , 16724.76      , 10717.82629474,
       14309.59      , 12350.58814737,  7983.16      , 11775.83629474,
       11249.83406316, 16260.19703158,  8460.53      , 19861.44      ,
       11375.69064737, 19570.59073684,  8969.04      , 11604.38      ,
       10533.04444211, 10180.37073684, 14770.06      , 10857.77      ,
       10146.09814737, 15379.68258947, 15358.28      , 21078.2       ,
       13298.37629474, 14811.07745238, 13957.69814737, 17666.10536291,
       21066.00444211, 16567.23814737,  7913.75814737, 12015.15      ,
       11916.00814737, 29987.44814737, 25176.47      ,  9598.32      ])

In [374]:
ac = mean_absolute_error(y_test,y_pred)
ac

6106.020911703715

In [375]:
r1 = r2_score(y_test,y_pred)
r1

0.3107273972642127

In [342]:
#to deploy the model (joblib)

import joblib

joblib.dump(model,'car_sales.pkl')     #joblib.dump

['car_sales.pkl']